# Titanic Dataset Preprocessing (for Decision Tree Model)

## 1. Gi·ªõi Thi·ªáu
**M·ª•c ti√™u:** L√†m s·∫°ch v√† x·ª≠ l√Ω d·ªØ li·ªáu Titanic ƒë·ªÉ ph·ª•c v·ª• m√¥ h√¨nh *Decision Tree* d·ª± ƒëo√°n kh·∫£ nƒÉng s·ªëng s√≥t.

**B∆∞·ªõc th·ª±c hi·ªán:**
1. ƒê·ªçc v√† kh√°m ph√° d·ªØ li·ªáu g·ªëc (`train.csv`)
2. X·ª≠ l√Ω gi√° tr·ªã thi·∫øu (ƒë·∫∑c bi·ªát l√† `Age`, `Cabin`, `Embarked`)
3. M√£ h√≥a bi·∫øn ph√¢n lo·∫°i (`Sex`, `Embarked`)
4. Ch·ªçn ƒë·∫∑c tr∆∞ng ph√π h·ª£p cho m√¥ h√¨nh
5. L∆∞u d·ªØ li·ªáu sau ti·ªÅn x·ª≠ l√Ω

## 2. Import th∆∞ vi·ªán v√† ƒë·ªçc d·ªØ li·ªáu

In [7]:
# Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ƒê·ªçc d·ªØ li·ªáu Titanic
data = pd.read_csv("train.csv")

# Hi·ªÉn th·ªã th√¥ng tin c∆° b·∫£n
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**Gi·∫£i th√≠ch:**
- D·ªØ li·ªáu c√≥ 891 h√†ng v√† 12 c·ªôt.
- C√°c c·ªôt quan tr·ªçng: `Survived`, `Pclass`, `Sex`, `Age`, `SibSp`, `Parch`, `Fare`, `Cabin`, `Embarked`.
- C·ªôt `Cabin` c√≥ nhi·ªÅu gi√° tr·ªã b·ªã thi·∫øu ‚Üí c·∫ßn xem x√©t lo·∫°i b·ªè.

## 3. Ph√¢n t√≠ch s∆° b·ªô d·ªØ li·ªáu & ki·ªÉm tra gi√° tr·ªã thi·∫øu

In [8]:
# Th·ªëng k√™ m√¥ t·∫£
display(data.describe())

# Ki·ªÉm tra gi√° tr·ªã thi·∫øu
data.isnull().sum()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Gi·∫£i th√≠ch:**
- `Cabin` c√≥ h∆°n 77% gi√° tr·ªã b·ªã thi·∫øu ‚Üí lo·∫°i b·ªè.
- `Age` c√≥ kho·∫£ng 20% gi√° tr·ªã b·ªã thi·∫øu ‚Üí ƒëi·ªÅn theo trung v·ªã nh√≥m Pclass + Sex.
- `Embarked` thi·∫øu 2 gi√° tr·ªã ‚Üí ƒëi·ªÅn b·∫±ng gi√° tr·ªã xu·∫•t hi·ªán nhi·ªÅu nh·∫•t (mode).

## 4. X·ª≠ l√Ω gi√° tr·ªã thi·∫øu

In [9]:
# B·ªè c·ªôt Cabin do qu√° nhi·ªÅu gi√° tr·ªã thi·∫øu
data.drop(columns=['Cabin'], inplace=True)

# ƒêi·ªÅn Age theo trung v·ªã c·ªßa t·ª´ng nh√≥m (Pclass, Sex)
data['Age'] = data.groupby(['Pclass', 'Sex'])['Age'].transform(lambda x: x.fillna(x.median()))

# ƒêi·ªÅn Embarked b·∫±ng gi√° tr·ªã xu·∫•t hi·ªán nhi·ªÅu nh·∫•t
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

# Ki·ªÉm tra l·∫°i gi√° tr·ªã thi·∫øu
data.isnull().sum()

C:\Users\HOME\AppData\Local\Temp\ipykernel_14016\458150985.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

‚úÖ **K·∫øt qu·∫£ cu·ªëi:**
T·∫•t c·∫£ gi√° tr·ªã thi·∫øu (`NaN`) ƒë√£ ƒë∆∞·ª£c x·ª≠ l√Ω.  
C·ªôt `Cabin` b·ªã lo·∫°i b·ªè ho√†n to√†n kh·ªèi t·∫≠p d·ªØ li·ªáu.

## 5. M√£ h√≥a bi·∫øn ph√¢n lo·∫°i

In [ ]:
# M√£ h√≥a gi·ªõi t√≠nh (male = 0, female = 1)
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})

# M√£ h√≥a Embarked th√†nh bi·∫øn gi·∫£ (dummy variables)
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Ki·ªÉm tra d·ªØ li·ªáu sau m√£ h√≥a
data.head()

**Gi·∫£i th√≠ch:**
- `Sex` ƒë∆∞·ª£c m√£ h√≥a th√†nh 0/1 ƒë·ªÉ m√¥ h√¨nh hi·ªÉu.
- `Embarked` ƒë∆∞·ª£c chuy·ªÉn th√†nh 2 c·ªôt m·ªõi: `Embarked_Q`, `Embarked_S`.
- D·ªØ li·ªáu gi·ªù ch·ªâ c√≤n d·∫°ng s·ªë ‚Üí s·∫µn s√†ng cho hu·∫•n luy·ªán.

## 6. Chu·∫©n b·ªã d·ªØ li·ªáu cho m√¥ h√¨nh

In [ ]:
# Ch·ªçn ƒë·∫∑c tr∆∞ng (features) v√† nh√£n (target)
X = data.drop(columns=['Survived', 'Name', 'Ticket', 'PassengerId'])
y = data['Survived']

print("‚úÖ D·ªØ li·ªáu ƒë·∫ßu v√†o (X):", X.shape)
print("‚úÖ Nh√£n m·ª•c ti√™u (y):", y.shape)

**Gi·∫£i th√≠ch:**
- C√°c c·ªôt nh∆∞ `Name`, `Ticket`, `PassengerId` kh√¥ng ·∫£nh h∆∞·ªüng ƒë·∫øn vi·ªác d·ª± ƒëo√°n ‚Üí lo·∫°i b·ªè.
- D·ªØ li·ªáu c√≤n l·∫°i ch·ª©a c√°c ƒë·∫∑c tr∆∞ng h·ªØu √≠ch cho m√¥ h√¨nh c√¢y quy·∫øt ƒë·ªãnh.

## 7. L∆∞u data m·ªõi sau khi x·ª≠ l√Ω

In [11]:
# T·∫°o th∆∞ m·ª•c n·∫øu ch∆∞a c√≥
import os
os.makedirs("data", exist_ok=True)

# L∆∞u d·ªØ li·ªáu sau ti·ªÅn x·ª≠ l√Ω
data.to_csv("data/processed_titanic.csv", index=False)
print("üìÅ D·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c l∆∞u t·∫°i: data/processed_titanic.csv")

# Ki·ªÉm tra d·ªØ li·ªáu sau khi l∆∞u
preview = pd.read_csv("data/processed_titanic.csv")
print("üìÑ 5 d√≤ng ƒë·∫ßu trong file ƒë√£ l∆∞u:")
display(preview.head())

print("\nüìä Th√¥ng tin d·ªØ li·ªáu sau x·ª≠ l√Ω:")
preview.info()

üìÅ D·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c l∆∞u t·∫°i: data/processed_titanic.csv
üìÑ 5 d√≤ng ƒë·∫ßu trong file ƒë√£ l∆∞u:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

üìä Th√¥ng tin d·ªØ li·ªáu sau x·ª≠ l√Ω:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

‚úÖ **Gi·∫£i th√≠ch:**
- D·ªØ li·ªáu s·∫°ch ƒë∆∞·ª£c l∆∞u ƒë·ªÉ s·ª≠ d·ª•ng ·ªü b∆∞·ªõc ti·∫øp theo (hu·∫•n luy·ªán m√¥ h√¨nh).
- File `data/processed_titanic.csv` s·∫Ω ƒë∆∞·ª£c n·∫°p v√†o trong notebook *Decision Tree Training*.

# T·ªïng K·∫øt
### üß© T√≥m t·∫Øt Ti·ªÅn X·ª≠ L√Ω

| B∆∞·ªõc | M·ª•c ti√™u | K·∫øt qu·∫£ |
|------|-----------|----------|
| 1 | Lo·∫°i b·ªè `Cabin` | Tr√°nh nhi·ªÖu do d·ªØ li·ªáu thi·∫øu |
| 2 | ƒêi·ªÅn `Age` theo nh√≥m | Gi·∫£m bias, gi·ªØ th√¥ng tin quan tr·ªçng |
| 3 | M√£ h√≥a `Sex`, `Embarked` | Chu·∫©n h√≥a d·ªØ li·ªáu ƒë·∫ßu v√†o |
| 4 | L∆∞u d·ªØ li·ªáu | T·∫≠p d·ªØ li·ªáu s·∫µn s√†ng hu·∫•n luy·ªán m√¥ h√¨nh Decision Tree |